DB_NAME=database_name
DB_USERNAME=database_user
DB_PASSWORD=database_password
DB_URL=your database_url
DB_PORT=your database_port
FRONTEND_URL=your frontend_url
BREVO_API_KEY= your brevo_api_key
BREVO_SENDER_EMAIL=your sender_email
BREVO_SENDER_NAME=your sender_name
BREVO_URL=your brevo_url
